body {
  margin: 0;
  font-family: monospace;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#terminal {
  width: 80%;
  height: 60%;
  background-color: #121212;
  padding: 10px;
  overflow-y: auto;
  border: 2px solid #333;
  box-shadow: 0 0 10px #000;
}

#output {
  white-space: pre-wrap;
  word-wrap: break-word;
}

#input-line {
  display: flex;
  align-items: center;
}

.prompt {
  color: #0f0;
  margin-right: 5px;
}

#input {
  background: none;
  border: none;
  color: white;
  outline: none;
  flex-grow: 1;
}

#welcome img {
  border-radius: 50%;
}

#welcome {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  overflow: hidden;
}

#welcome pre {
  white-space: pre;
  overflow-x: auto;
  font-size: 14px;
  max-width: 100%;
}